[dev]
server = ubu1610
port =3306
schema= drs
user= jsk
pass=jsk

[prod]
server =  drsharvard.c5ewwyfxyijg.us-east-1.rds.amazonaws.com
port =3306
schema= drs
user= loader
pass= h@ppiness


[web]
outlineURI = "https://www.tbrc.org/public?module=outlines&query=outline&arg="
outlinePerWorkURI = "https://www.tbrc.org/public?module=outline&query=texts&arg="
