#
# Semi-secure mysql config/ ~/drs.cnf is not kept in source control
# Indirect access to configuration sections in ~/drs.cnf
[mysql]
mySqlCnfPath = ~/drs.cnf

[dev]
server = ubu1610

[prod]
server = RDSAWSClient

[qa]
server = RDSAWSQAClient

[web]
outlineURI = "https://www.tbrc.org/public?module=outlines&query=outline&arg="
outlinePerWorkURI = "https://www.tbrc.org/public?module=outline&query=texts&arg="
